*{
    margin: 0;
    padding: 0;
}

form{
    padding: 1rem;
}

#books-section{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

#books-section > div{
    padding: 1rem;
    background-color: antiquewhite;
    border-radius: 1rem;
}